
*~
*.o
*.a
.libs
.deps
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
confdefs.h
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
gmon.out
gprof.out
install-sh
libtool
ltmain.sh
missing
*.lo
*.la
stamp-h1
*.pyc
*.pc
*.exe
*.gcov
*.gcda
*.gcno
*.log
*.bin

# specific
bin/mustache
doc/html
libmustache_test.info
nbproject
src/mustache_config.h
test/spec/test_spec
test/test_utils
test_coverage

# distros
*.tar.gz
*.tgz
*.tar
*.zip
