
*~
*.o
*.a
*.trs
.libs
.deps
.dirstamp
.idea
Makefile
Makefile.in
aclocal.m4
autom4te.cache
confdefs.h
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
gmon.out
gprof.out
install-sh
libtool
ltmain.sh
missing
*.lo
*.la
stamp-h1
*.pyc
*.pc
*.exe
*.gcov
*.gcda
*.gcno
*.log
*.bin

# specific
bin/mustachec
doc/html
libmustache_test.info
nbproject
src/mustache_config.h
tests/test_spec
tests/test_misc
tests/test_utils
test_coverage
/build/

# distros
*.tar.gz
*.tgz
*.tar
*.zip

# debian
debian/autoreconf.*
debian/libmustache-dev/
debian/libmustache3/
debian/*.substvars
debian/*.debhelper
debian/*.log
debian/tmp/

# nix
/result*
